<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>This is what I like to create</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I develop interactive experiences where technology serves as a narrative. These projects
          represent my quest to create memorable video games or experiences with meaningful messages.</p>
      </div>
      <div class="col-lg-4">
        <p>If you need my CV, click the button below. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/1DOZc3fD20pMvgcs-Ad58BuagcmV4DOiU/view?usp=sharing" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
