<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Si deseas contactarme, puedes enviarme un correo electrónico:</p>
        <a href="mailto:ingvicentecontreras@gmail.com" 
           class="btn btn-success btn-lg" 
           style="margin-top: 20px;">
          <i class="fa fa-envelope"></i> Enviar correo
        </a>
      </div>
    </div>
  </div>
</section>
